                /*Main elements*/
                
                body {
                    background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.85)), url(img/back2.jpg);
                    background-size: cover;
                }
                
                #pageContent {
                    position: relative;
                    width: 100%;
                    top: -85px
                }
                
                .top-header {
                    background-color: #48b9ff75;
                    background-size: cover;
                    height: 85px;
                }
                
                .headerLeave {
                    animation: moveHeader 1s forwards;
                    -webkit-animation: moveHeader 1s forwards;
                }
                
                .headerEnter {
                    animation: moveHeader 1s forwards reverse;
                    -webkit-animation: moveHeader 1s forwards reverse;
                }
                
                @keyframes moveHeader {
                    from {
                        top: 0px;
                    }
                    to {
                        top: -85px;
                    }
                }
                
                @-webkit-keyframes moveHeader {
                    from {
                        top: 0px;
                    }
                    to {
                        top: -85px;
                    }
                }
                
                .scoreTable {
                    text-align: center;
                    margin-bottom: 0;
                }
                
                .score {
                    display: inline-block;
                    margin: 0px 10px;
                    font-size: 1em;
                }
                
                #game {
                    position: relative;
                    top: -5px;
                    min-height: 250px;
                    width: 100%;
                }
                
                footer {
                    margin: 10px auto;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    background: rgba(208, 219, 248, 0.76);
                    color: white;
                    text-align: center;
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                    z-index: -1;
                }
                /*Main game elements*/
                
                .pressText {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 10px;
                    border: none;
                    font: normal 48px/normal "Warnes", Helvetica, sans-serif;
                    color: rgba(255, 255, 255, 1);
                    text-decoration: normal;
                    text-align: center;
                    -o-text-overflow: clip;
                    text-overflow: clip;
                    white-space: pre;
                    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
                    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
                    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
                    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
                    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
                }
                
                .pressText:hover {
                    text-shadow: 0 0 10px rgba(255, 0, 0, 1), 0 0 20px rgba(255, 0, 0, 1), 0 0 30px rgba(255, 0, 0, 1), 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff;
                }
                
                .game-background {
                    cursor: grab;
                    margin: 150px 0px;
                    padding: 50px;
                    width: 100%;
                    height: fit-content;
                    background: url("img/game-background.jpg") no-repeat center;
                    position: fixed;
                    bottom: 15%;
                }
                
                .leave {
                    animation: disappear 4s forwards;
                    position: fixed;
                }
                
                @keyframes disappear {
                    from {
                        opacity: 1
                    }
                    to {
                        opacity: 0
                    }
                }
                /*Secondary game elements*/
                
                p,
                h1,
                h2,
                h3,
                h4 {
                    text-align: center;
                }
                
                .scoreButton {
                    margin: 0px auto;
                    display: block;
                    background: #48b8ff75;
                    border: 0px;
                    padding: 0.2em 5em;
                    border-bottom-right-radius: 5em;
                    border-bottom-left-radius: 5em;
                    height: 30px;
                }
                
                .scoreButton:hover {
                    background: #48b8ff
                }
                
                .scoreButton:focus {
                    outline: none;
                }
                
                #cardTable {
                    width: 80%;
                    max-width: 480px;
                    margin: auto;
                }
                
                .tries {
                    margin: 5px auto;
                    color: white;
                    background-color: #48b8ff;
                    width: 80%;
                    max-width: 480px;
                }
                
                .row {
                    margin: auto;
                    width: 60%;
                    display: block;
                }
                
                .col {
                    background: lightblue;
                    text-align: center;
                }
                
                div.card {
                    width: 25%;
                    max-width: 120px;
                    display: inline-block;
                }
                
                .backCard {
                    opacity: 0.65;
                }
                
                .backCard:hover {
                    opacity: 1;
                }
                
                .newGameButton {
                    margin: 20px auto;
                    display: block;
                    -webkit-box-sizing: content-box;
                    -moz-box-sizing: content-box;
                    box-sizing: content-box;
                    cursor: pointer;
                    padding: 9px 20px;
                    overflow: hidden;
                    border: 1px solid;
                    font: normal 1.2em/normal "Warnes", Helvetica, sans-serif;
                    color: rgb(255, 255, 255);
                    text-align: center;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    background: #000291;
                    -webkit-box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.8);
                    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.8);
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
                }
                
                .newGameButton:active {
                    opacity: 0.65;
                    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.8);
                    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.8);
                }
                
                .neon-text {
                    -webkit-box-sizing: content-box;
                    -moz-box-sizing: content-box;
                    box-sizing: content-box;
                    border: none;
                    font: normal normal bold 72px/normal "Atomic Age", Helvetica, sans-serif;
                    color: rgb(64, 126, 196);
                    text-align: center;
                    -o-text-overflow: clip;
                    text-overflow: clip;
                    text-shadow: 1px 1px 0 rgb(77, 162, 252), -1px -1px 0 rgb(77, 162, 252), 1px -1px 0 rgb(77, 162, 252), -1px 1px 0 rgb(77, 162, 252), 2px 2px 4px rgb(44, 88, 137), -2px 2px 4px rgb(44, 88, 137), 2px -2px 4px rgb(44, 88, 137), -2px -2px 4px rgb(44, 88, 137);
                    -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
                    -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
                    -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
                    transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
                }
                
                .neon-text:hover {
                    text-shadow: 1px 1px 0 rgb(77, 162, 252), -1px -1px 0 rgb(77, 162, 252), 1px -1px 0 rgb(77, 162, 252), -1px 1px 0 rgb(77, 162, 252);
                    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
                    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
                    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
                    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
                }
                /* CARD TRANSITION EFFECT */
                
                .flip-enter-active {
                    transition: all 1s ease;
                }
                
                .flip-enter {
                    transform: rotateY(180deg);
                    opacity: 0;
                }
                
                .flip-leave {
                    display: none;
                }
                /* New Game Transition */
                
                .scale-animate {
                    -webkit-animation: animatezoom 4s ease-out;
                    animation: animatezoom 4s ease-out;
                }
                
                @-webkit-keyframes animatezoom {
                    from {
                        -webkit-transform: scale(0);
                        -webkit-opacity: 0.2
                    }
                    to {
                        -webkit-transform: scale(1);
                        -webkit-opacity: 1
                    }
                }
                
                @keyframes animatezoom {
                    from {
                        transform: scale(0);
                        opacity: 0.2
                    }
                    to {
                        transform: scale(1);
                        opacity: 1
                    }
                }
                
                .animation-enter-active {
                    transition: all 5s ease;
                }
                
                .animation-enter {
                    opacity: 0;
                }
                
                .animation-leave {
                    display: none;
                }
                /*Adjusting to different screen sizes*/
                /*Tablet landscape*/
                
                @media only screen and (max-width: 1060px) {
                    .score {
                        font-size: 0.8em
                    }
                    h3 {
                        font-size: 1.2em;
                        margin-bottom: 0.2em;
                    }
                    .game-background {
                        bottom: 20%;
                    }
                    .top-header {
                        height: 50px;
                    }
                    #pageContent {
                        top: -50px;
                    }
                    @keyframes moveHeader {
                        from {
                            top: 0px
                        }
                        to {
                            top: -50px;
                        }
                    }
                    @-webkit-keyframes moveHeader {
                        from {
                            top: 0px
                        }
                        to {
                            top: -50px;
                        }
                    }
                }
                /*Tablet Portrait*/
                
                @media only screen and (max-width: 768px) {
                    .newGameButton {
                        margin: 80px auto;
                    }
                    .game-background {
                        bottom: 30%;
                    }
                    .top-header {
                        height: 80px;
                    }
                    #pageContent {
                        top: -80px;
                    }
                    .row {
                        width: 100%;
                    }
                    @keyframes moveHeader {
                        from {
                            top: 0px
                        }
                        to {
                            top: -80px;
                        }
                    }
                    @-webkit-keyframes moveHeader {
                        from {
                            top: 0px
                        }
                        to {
                            top: -80px;
                        }
                    }
                }
                /*Smartphone Portrait*/
                
                @media only screen and (max-width: 640px) {
                    body {
                        line-height: 0.8;
                    }
                    .pressText {
                        padding: 2px;
                        white-space: initial;
                    }
                    .newGameButton {
                        margin: 30px auto;
                        font-size: 0.8em;
                        padding: 6px 14px;
                    }
                    button,
                    .score {
                        font-size: 0.7em;
                        margin: 0 5px;
                    }
                    h4,
                    h3 {
                        font-size: 1em;
                        margin-bottom: 0.1em;
                    }
                    .game-background {
                        bottom: 15%;
                    }
                    .top-header {
                        height: 70px;
                    }
                    #pageContent {
                        top: -70px;
                    }
                    @keyframes moveHeader {
                        from {
                            top: 0px
                        }
                        to {
                            top: -70px;
                        }
                    }
                    @-webkit-keyframes moveHeader {
                        from {
                            top: 0px
                        }
                        to {
                            top: -70px;
                        }
                    }
                }
                /*Smartphone Landscape*/
                
                @media only screen and (max-height: 420px) {
                    body {
                        line-height: 0.8;
                    }
                    .newGameButton {
                        margin: 25px auto;
                        font-size: 0.6em;
                        padding: 3px 14px;
                    }
                    .scoreButton {
                        height: 15px;
                    }
                    button,
                    .score {
                        font-size: 0.6em;
                        margin: 0 5px;
                    }
                    div.card {
                        width: 12.5%;
                    }
                    h4,
                    h3 {
                        font-size: 1em;
                        margin-bottom: 0.1em;
                    }
                    .game-background {
                        bottom: -5%;
                        padding: 20px;
                    }
                    .top-header {
                        height: 50px;
                    }
                    #pageContent {
                        top: -50px;
                    }
                    @keyframes moveHeader {
                        from {
                            top: 0px
                        }
                        to {
                            top: -50px;
                        }
                    }
                    @-webkit-keyframes moveHeader {
                        from {
                            top: 0px
                        }
                        to {
                            top: -50px;
                        }
                    }
                }