/*Main elements*/

header {
    width: 100%;
    height: 160px;
    background: linear-gradient(transparent 50%, white), url("img/background.jpg") no-repeat center;
    background-size: cover;
}

#game {
    min-height: 250px;
}

footer {
    margin: 20px auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgba(208, 219, 248, 0.76);
    color: white;
    text-align: center;
}


/*Main game elements*/

.pressText {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 48px/normal "Warnes", Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.pressText:hover {
    text-shadow: 0 0 10px rgba(255, 0, 0, 1), 0 0 20px rgba(255, 0, 0, 1), 0 0 30px rgba(255, 0, 0, 1), 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff;
}

.game-background {
    margin: 150px 0px;
    padding: 50px;
    width: 100%;
    height: fit-content;
    background: url("img/game-background.jpg") no-repeat center;
}


/*Secondary game elements*/

p,
h1,
h2,
h3,
h4 {
    text-align: center;
}

#cardTable {
    width: 80%;
    max-width: 480px;
    margin: auto;
}

.tries {
    margin: 5px auto;
    color: white;
    background-color: #48b8ff;
    width: 80%;
    max-width: 480px;
}

.row {
    margin: auto;
    width: 60%;
    display: block;
}

.col {
    background: lightblue;
    text-align: center;
}

div.card {
    width: 25%;
    max-width: 120px;
    display: inline-block;
}

.backCard {
    opacity: 0.65;
}

.backCard:hover {
    opacity: 1;
}

.newGameButton {
    margin: 15px auto;
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 15%;
    cursor: pointer;
    padding: 9px 20px;
    overflow: hidden;
    border: 1px solid;
    font: normal 19px/normal "Warnes", Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #000291;
    -webkit-box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.8);
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.newGameButton:active {
    opacity: 0.65;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.8);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.8);
}

.neon-text {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal normal bold 72px/normal "Atomic Age", Helvetica, sans-serif;
    color: rgb(64, 126, 196);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 1px 1px 0 rgb(77, 162, 252), -1px -1px 0 rgb(77, 162, 252), 1px -1px 0 rgb(77, 162, 252), -1px 1px 0 rgb(77, 162, 252), 2px 2px 4px rgb(44, 88, 137), -2px 2px 4px rgb(44, 88, 137), 2px -2px 4px rgb(44, 88, 137), -2px -2px 4px rgb(44, 88, 137);
    -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
}

.neon-text:hover {
    text-shadow: 1px 1px 0 rgb(77, 162, 252), -1px -1px 0 rgb(77, 162, 252), 1px -1px 0 rgb(77, 162, 252), -1px 1px 0 rgb(77, 162, 252);
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}


/* CARD TRANSITION EFFECT */

.flip-enter-active {
    transition: all 1s ease;
}

.flip-enter {
    transform: rotateY(180deg);
    opacity: 0;
}

.flip-leave {
    display: none;
}


/* New Game Transition */

.scale-animate {
    -webkit-animation: animatezoom 4s ease-out;
    animation: animatezoom 4s ease-out;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
        -webkit-opacity: 0.2
    }
    to {
        -webkit-transform: scale(1);
        -webkit-opacity: 1
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
        opacity: 0.2
    }
    to {
        transform: scale(1);
        opacity: 1
    }
}

.animation-enter-active {
    transition: all 5s ease;
}

.animation-enter {
    opacity: 0;
}

.animation-leave {
    display: none;
}


/*Adjusting to different screen sizes*/

@media only screen and (max-width: 1000px) {
    .newGameButton {
        width: 30%;
        font-size: 0.8em;
        padding: 3px 5px;
    }
    #cardTable {
        width: 86%;
        margin: auto;
    }
    h2.neon-text {
        font-size: 50px;
    }
    header {
        height: 120px;
    }
    .game-background {
        margin: 90px 0px;
        padding: 20px;
    }
    h1.pressText {
        font-size: 40px;
    }
    footer {
        font-size: 13px;
    }
    .row {
        width: 80%
    }
    h4 {
        font-size: 15px;
        width: 86%;
    }
}

@media only screen and (max-width: 500px) {
    .newGameButton {
        font-size: 0.5em;
        padding: 1px 2px;
    }
    #cardTable {
        width: 96%;
        margin: auto;
    }
    h2.neon-text {
        font-size: 30px;
    }
    header {
        height: 70px;
    }
    .game-background {
        margin: 50px 0px;
        padding: 10px;
    }
    h1.pressText {
        font-size: 20px;
    }
    h4 {
        font-size: 10px;
        width: 96%;
    }
    footer {
        font-size: 8px;
    }
}